# Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
# Terraform directory containing plugins and provider binaries
.terraform/
terraform.tfvars
# Credentials file
creds/credentials.json

# Other common Terraform ignore patterns
*.log
